@model IEnumerable<SockMarket.Models.Company>

@{
    ViewBag.Title = "Home Page";
}


<div class="container">

    <div class="row col-md-5">

        <h2>Sock Market</h2>

        <div class="list-group">
            @Html.ActionLink("Companies", "Index", "Company", null, new { @class = "list-group-item list-group-item-action" })
            @Html.ActionLink("Deals", "Index", "Deal", null, new { @class = "list-group-item list-group-item-action" })
            @Html.ActionLink("Contacts", "Index", "Contact", null, new { @class = "list-group-item list-group-item-action" })
        </div>

    </div>

</div>